/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
$color-primary: #7ed56f;
$color-primary-light: #55c57a;
$color-primary-dark: #28b485;

$color-grey-dark: #777777;
$color-white: #fff;


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* root font-size 10/16=0.625% we use 
our value and divide on 16px(default value of browser)*/
html {
    font-size: 62.5%;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: $color-grey-dark;
    padding: 3rem;
    box-sizing: border-box;
}

.header {
    position: relative;
    /* 5vh always be empty 
    backgorund-size: cover = image adaptates to the size of browser*/
    height: 95vh;
    /* add a gradient */
    background-image: linear-gradient(
        to right bottom,
        $color-primary-light,
        $color-primary-dark) ,
         url(../img/hero.jpg);
    background-size: cover;
    /* allow you to always fix position of img in the top*/
    background-position: top;
    /* create a corner from the bottom right side */
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%)

    &___logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }
    &__logo {
        height: 3.5rem;
    }
    
    /*.logo:hover {
        animation: moveInRight 1s ease-in;
    }*/
    
    /* how put h1 in the center*/
    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        /* in this way we use 50% of element not the parent */
        transform: translate(-50%, -50%);
        text-align: center;
    }
    
}

.heading-primary {
    color: $color-white;
    text-transform: uppercase;

    /* for avoiding shaking on the top in the end of animantion*/
    backface-visibility: hidden;
    margin-bottom: 6rem;

    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
        /* we specify animation */
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-in;
        /*animation-delay: 3s;
        how many times animation will work
        animation-iteration-count: 3;*/
    }
    
    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.7rem;
        animation: moveInRight 1s ease-in;
    }
    
}


@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }
    
    /* 60% {
        rotate thing!
        transform: rotate(120deg);
    } */

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

/* link is pseudo class*/
.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s; 
    position: relative;
}
.btn:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);

    &::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
    }
}
.btn:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.btn--white {
    background-color: $color-white;
    color: $color-grey-dark;

    &::after {
        background-color: $color-white;
    }
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    /* type of animation */
    transition: all .4s;
}

.btn--animated {
    animation: moveInBottom 1s ease-in .75s;
    /* it's trick because button is visible for the frst time*/
    animation-fill-mode: backwards;
}