footer.footer
    .footer__logo-box
        img(src="img/logo-green-2x.png" alt="Full logo" class="footer__logo")
    .row
        .col-1-of-2
            .footer__navigation
                ul.footer-list
                    li.footer__item
                        a(href="#" class="footer__link") Company
                    li.footer__item
                        a(href="#" class="footer__link") Contact us
                    li.footer__item
                        a(href="#" class="footer__link") Careers
                    li.footer__item
                        a(href="#" class="footer__link") Privacy policy
                    li.footer__item
                        a(href="#" class="footer__link") Terms
        .col-1-of-2
            p.footer__copyright Built by <a href="#" class="footer__link">Jonas Schmedtmann</a> for his online course <a href="#" class="footer__link">Advanced CSS and Sass</a>. Copyright &copy; by Jonas Schmedtmann. You are 100% allowed to use this webpage  for both personal and commercial use, but not to claim it as your own design! A credit to the original author, Jonas Schmedtmann, is of course highly appreciated.

