section.section-stories
    .u-center-text.u-margin-bottom-big
        h2.heading-secondary Stories
    .row
        .story
            figure.story__shape
                img(src="img/nat-8.jpg", alt="Person on a tour" class="story__img")
                figcaption.story__caption Mary Smith
            .story__text
                h3.heading-tertiary.u-margin-bottom-small I had the best weekend with my family.
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    .row
        .story
            figure.story__shape
                img(src="img/nat-9.jpg", alt="Person on a tour" class="story__img")
                figcaption.story__caption Adam Smith
            .story__text
                h3.heading-tertiary.u-margin-bottom-small I had the best weekend with my family.
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    .row    
        .u-center-text.u-margin-top-huge
            <a href="#" class="btn-text">Read all stories →</a>
